html, body {
  overflow: scroll;
}

.separator {
  background: #555555;
  width: 100%;
  height: 1px;
  margin: 4vw auto;
}

.margined {
    margin: 1vw auto;
    width: 90%;
}

.joined {
  background: #FF8888;
}

.btn-blue {
  background: #6699FF;
  color:#EEEEEE;
  margin: 1vw auto;
  text-align: center;
  border: 0px;
  /*box-shadow: 1px 1px 1px darkgrey;*/
}
.btn-blue:hover {
  background: #496cb2;
}

.rooms {
  margin: 3%;
}

.roomName {
  font-family: 'Roboto' , sans-serif;
}

.roomsHeader {
  font-family: 'Work Sans', sans-serif;
  color: #E8F7EE;
  text-align: center;
  /*text-shadow: 2px 2px 3px #000000;*/
}

.panel-heading {
  background: #222222;
  color: #EEEEEE;
}

.panel-body {
  background: #222222;
  color: #DDDDDD;
}

.joinButton {
  box-shadow: 2px 2px 1px #13262F;
}

a {
  text-decoration: none;
}

/*.landingPageHeader {
  font-family: 'Raleway', sans-serif;
  color: #E8F7EE;
  text-align: center;
  text-shadow: 2px 2px 3px #000000;
}*/
/*

/*
    Game Room
  */

.gameroomHeader {
  font-family: 'Work Sans', sans-serif;
  color: #E8F7EE;
}

.questionBox {
  background:#4F5D75;
}

.questions {
  font-family: 'Work Sans', sans-serif;
  color: #d6d8db;
}

.answers {
  font-family: 'Work Sans', sans-serif;
  color: #E8F7EE;
}

.gameboard {
  display: flex;
  /*justify-content:*/
}

.players {
  padding: 5%;
  min-width: 30%;
}

.user-area {
  clear: both;
}

.user-display {
  background-color: black;
}
